flows_retail_banking.json
[{"id":"1d5ef372.c8f4dd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"720e6637.9221b8","type":"ui_group","z":"1d5ef372.c8f4dd","name":"Prediction","tab":"84abed4a.5f9cf","disp":true,"width":"6","collapse":false},{"id":"84abed4a.5f9cf","type":"ui_tab","z":"1d5ef372.c8f4dd","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"9f01aeb8.d8e8f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11f3088f.91b3e7","type":"http request","z":"1d5ef372.c8f4dd","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/2f49e28c-fe36-4f7f-951e-723e8c62046d/deployments/26b8a2be-b4cc-4982-a55e-38414649c773/online","tls":"","proxy":"","x":770,"y":640,"wires":[["7e6d1e4c.386f9"]]},{"id":"295b673.f88da98","type":"function","z":"1d5ef372.c8f4dd","name":"prediction","func":"var token=msg.payload.token;\nvar age=global.get(\"age\");\nvar job=global.get(\"job\");\nvar marital=global.get(\"marital\");\nvar education=global.get(\"education\");\nvar defaultor=global.get(\"defaultor\");\nvar balance=global.get(\"balance\");\nvar housing=global.get(\"housing\");\nvar loan=global.get(\"loan\");\nvar contact=global.get(\"contact\");\nvar day=global.get(\"day\");\nvar month=global.get(\"month\");\nvar duration=global.get(\"duration\");\nvar campaign=global.get(\"campaign\");\nvar pdays=global.get(\"pdays\");\nvar prev=global.get(\"prev\");\nvar poutcome=global.get(\"poutcome\");\nmsg.payload={\"fields\":[\"age\",\"job\",\"marital\",\"education\",\"defaultor\",\"balance\",\"housing\",\"loan\",\"contact\",\"day\",\"month\",\"duration\",\"campaign\",\"pdays\",\"prev\",\"poutcome\"],\"values\":[[age,job,marital,education,defaultor,balance,housing,loan,contact,day,month,duration,campaign,pdays,prev,poutcome]]};\n//msg.payload=State;\nmsg.headers={\"Authorization\":\"Bearer \"+token}\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":560,"wires":[["11f3088f.91b3e7","410d10a5.9642c"]]},{"id":"410d10a5.9642c","type":"debug","z":"1d5ef372.c8f4dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":520,"wires":[]},{"id":"a46ed1d0.483eb","type":"http request","z":"1d5ef372.c8f4dd","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/identity/token","tls":"","proxy":"","x":510,"y":420,"wires":[["ba9c76ee.dcd2d8","295b673.f88da98"]]},{"id":"e80ce41a.f6a2e8","type":"inject","z":"1d5ef372.c8f4dd","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":440,"wires":[["b3bab9ff.fd9988"]]},{"id":"b3bab9ff.fd9988","type":"function","z":"1d5ef372.c8f4dd","name":"token generation","func":"var Base64={_keyStr:\"ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=\",encode:function(e){var t=\"\";var n,r,i,s,o,u,a;var f=0;e=Base64._utf8_encode(e);while(f<e.length){n=e.charCodeAt(f++);r=e.charCodeAt(f++);i=e.charCodeAt(f++);s=n>>2;o=(n&3)<<4|r>>4;u=(r&15)<<2|i>>6;a=i&63;if(isNaN(r)){u=a=64}else if(isNaN(i)){a=64}t=t+this._keyStr.charAt(s)+this._keyStr.charAt(o)+this._keyStr.charAt(u)+this._keyStr.charAt(a)}return t},decode:function(e){var t=\"\";var n,r,i;var s,o,u,a;var f=0;e=e.replace(/++[++^A-Za-z0-9+/=]/g,\"\");while(f<e.length){s=this._keyStr.indexOf(e.charAt(f++));o=this._keyStr.indexOf(e.charAt(f++));u=this._keyStr.indexOf(e.charAt(f++));a=this._keyStr.indexOf(e.charAt(f++));n=s<<2|o>>4;r=(o&15)<<4|u>>2;i=(u&3)<<6|a;t=t+String.fromCharCode(n);if(u!=64){t=t+String.fromCharCode(r)}if(a!=64){t=t+String.fromCharCode(i)}}t=Base64._utf8_decode(t);return t},_utf8_encode:function(e){e=e.replace(/\\r\\n/g,\"n\");var t=\"\";for(var n=0;n<e.length;n++){var r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r)}else if(r>127&&r<2048){t+=String.fromCharCode(r>>6|192);t+=String.fromCharCode(r&63|128)}else{t+=String.fromCharCode(r>>12|224);t+=String.fromCharCode(r>>6&63|128);t+=String.fromCharCode(r&63|128)}}return t},_utf8_decode:function(e){var t=\"\";var n=0;var r=c1=c2=0;while(n<e.length){r=e.charCodeAt(n);if(r<128){t+=String.fromCharCode(r);n++}else if(r>191&&r<224){c2=e.charCodeAt(n+1);t+=String.fromCharCode((r&31)<<6|c2&63);n+=2}else{c2=e.charCodeAt(n+1);c3=e.charCodeAt(n+2);t+=String.fromCharCode((r&15)<<12|(c2&63)<<6|c3&63);n+=3}}return t}};\nvar username=\"f437d1a8-c409-4993-a70f-950d9594f0f0\"\nvar password=\"cafcdd73-fc35-4309-8e1e-54adf100273b\";\nvar encodedString = Base64.encode(username+':'+password);\nmsg.headers = {\"Authorization\":\"Basic \"+ encodedString};\nglobal.set(\"age\",msg.payload.age)\nglobal.set(\"job\",msg.payload.job)\nglobal.set(\"marital\",msg.payload.marital)\nglobal.set(\"education\",msg.payload.education)\nglobal.set(\"defaultor\",msg.payload.defaultor)\nglobal.set(\"balance\",msg.payload.balance)\nglobal.set(\"housing\",msg.payload.housing)\nglobal.set(\"loan\",msg.payload.loan)\nglobal.set(\"contact\",msg.payload.contact)\nglobal.set(\"day\",msg.payload.day)\nglobal.set(\"month\",msg.payload.month)\nglobal.set(\"duration\",msg.payload.duration)\nglobal.set(\"campaign\",msg.payload.campaign)\nglobal.set(\"pdays\",msg.payload.pdays)\nglobal.set(\"prev\",msg.payload.prev)\nglobal.set(\"poutcome\",msg.payload.poutcome)\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["a46ed1d0.483eb"]]},{"id":"7e6d1e4c.386f9","type":"function","z":"1d5ef372.c8f4dd","name":"o/p parsing","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":660,"wires":[["e8637e35.f43da"]]},{"id":"ba9c76ee.dcd2d8","type":"debug","z":"1d5ef372.c8f4dd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":400,"wires":[]},{"id":"4811211a.7846b","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":2,"width":0,"height":0,"name":"","label":"age","format":"{{msg.payload.age}}","layout":"row-spread","x":375,"y":633,"wires":[]},{"id":"e8637e35.f43da","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":540,"wires":[]},{"id":"2b2e9094.c7f0e","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":2,"width":0,"height":0,"name":"","label":"job","format":"{{msg.payload.job}}","layout":"row-spread","x":374,"y":673,"wires":[]},{"id":"f7dc52ac.95a9","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":2,"width":0,"height":0,"name":"","label":"education","format":"{{msg.payload.education}}","layout":"row-spread","x":381,"y":750,"wires":[]},{"id":"3bdbf5cf.16d76a","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":2,"width":0,"height":0,"name":"","label":"marital","format":"{{msg.payload.marital}}","layout":"row-spread","x":372,"y":712,"wires":[]},{"id":"8ab45056.020aa","type":"ui_form","z":"1d5ef372.c8f4dd","name":"","label":"","group":"720e6637.9221b8","order":0,"width":0,"height":0,"options":[{"label":"age","value":"age","type":"number","required":true},{"label":"job","value":"job","type":"number","required":true},{"label":"marital","value":"marital","type":"number","required":true},{"label":"education","value":"education","type":"number","required":true},{"label":"defaultor","value":"defaultor","type":"number","required":true},{"label":"balance","value":"balance","type":"number","required":true},{"label":"housing","value":"housing","type":"number","required":true},{"label":"loan","value":"loan","type":"number","required":true},{"label":"contact","value":"contact","type":"number","required":true},{"label":"day","value":"day","type":"number","required":true},{"label":"month","value":"month","type":"number","required":true},{"label":"duration","value":"duration","type":"number","required":true},{"label":"campaign","value":"campaign","type":"number","required":true},{"label":"pdays","value":"pdays","type":"number","required":true},{"label":"prev","value":"prev","type":"number","required":true},{"label":"poutcome","value":"poutcome","type":"number","required":true}],"formValue":{"age":"","job":"","marital":"","education":"","defaultor":"","balance":"","housing":"","loan":"","contact":"","day":"","month":"","duration":"","campaign":"","pdays":"","prev":"","poutcome":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":780,"wires":[["4811211a.7846b","2b2e9094.c7f0e","b3bab9ff.fd9988","3bdbf5cf.16d76a","f7dc52ac.95a9","61fce310.4de2bc","5b806ee3.f22e4","7a2c9481.25dbec","f6de1cbe.e5dc4","f8dc0bbb.442ce8","56de46b2.61cec8","3fed3aaa.c12336","630cc329.1ef6fc","21a93cfb.702ce4","8ac1f54c.1d53a8","50f2fde5.3b7564","f22f6c50.45e47"]]},{"id":"61fce310.4de2bc","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":5,"width":0,"height":0,"name":"","label":"defaultor","format":"{{msg.payload.defaultor}}","layout":"row-spread","x":377,"y":791,"wires":[]},{"id":"5b806ee3.f22e4","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":6,"width":0,"height":0,"name":"","label":"balance","format":"{{msg.payload.balance}}","layout":"row-spread","x":378,"y":834,"wires":[]},{"id":"7a2c9481.25dbec","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":7,"width":0,"height":0,"name":"","label":"housing","format":"{{msg.payload.housing}}","layout":"row-spread","x":377,"y":876,"wires":[]},{"id":"f6de1cbe.e5dc4","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":8,"width":0,"height":0,"name":"","label":"loan","format":"{{msg.payload.loan}}","layout":"row-spread","x":366,"y":920,"wires":[]},{"id":"f8dc0bbb.442ce8","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":9,"width":0,"height":0,"name":"","label":"contact","format":"{{msg.payload.contact}}","layout":"row-spread","x":378,"y":962,"wires":[]},{"id":"56de46b2.61cec8","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":10,"width":0,"height":0,"name":"","label":"day","format":"{{msg.payload.day}}","layout":"row-spread","x":371,"y":1006,"wires":[]},{"id":"3fed3aaa.c12336","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":11,"width":0,"height":0,"name":"","label":"month","format":"{{msg.payload.month}}","layout":"row-spread","x":370,"y":1050,"wires":[]},{"id":"630cc329.1ef6fc","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":12,"width":0,"height":0,"name":"","label":"duration","format":"{{msg.payload.duration}}","layout":"row-spread","x":381,"y":1097,"wires":[]},{"id":"21a93cfb.702ce4","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":13,"width":0,"height":0,"name":"","label":"campaign","format":"{{msg.payload.campaign}}","layout":"row-spread","x":377,"y":1145,"wires":[]},{"id":"8ac1f54c.1d53a8","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":14,"width":0,"height":0,"name":"","label":"pdays","format":"{{msg.payload.pdays}}","layout":"row-spread","x":366,"y":1195,"wires":[]},{"id":"50f2fde5.3b7564","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":15,"width":0,"height":0,"name":"","label":"prev","format":"{{msg.payload.prev}}","layout":"row-spread","x":362,"y":1240,"wires":[]},{"id":"f22f6c50.45e47","type":"ui_text","z":"1d5ef372.c8f4dd","group":"720e6637.9221b8","order":16,"width":0,"height":0,"name":"","label":"poutcome","format":"{{msg.payload.poutcome}}","layout":"row-spread","x":368,"y":1286,"wires":[]}]